<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Bank-System</title>
</head>
<body>
<div class="container">
<%- include("partials/navbar.ejs") %>
<div class = "alert alert-success" role = "alert">
 Thank you for registration, <%-formData.name%>!
 </div>
 You can now
 <a href = "/login" >Login </a>
</div>
</body>
</html>